@import '../../styles/variables';
@import '../../styles/mixins';

.btn {
  @include button-base;
  position: relative;

  &-primary {
    background: $primary;
    color: $white;

    &:hover:not(:disabled) {
      background: $primary-dark;
    }
  }

  &-secondary {
    background: $gray-100;
    color: $text-primary;

    &:hover:not(:disabled) {
      background: $gray-200;
    }
  }

  &-outline {
    background: transparent;
    color: $primary;
    border: 1px solid $primary;

    &:hover:not(:disabled) {
      background: $primary;
      color: $white;
    }
  }

  &-ghost {
    background: transparent;
    color: $text-secondary;

    &:hover:not(:disabled) {
      background: $gray-100;
      color: $text-primary;
    }
  }

  &-danger {
    background: $error;
    color: $white;

    &:hover:not(:disabled) {
      background: darken($error, 10%);
    }
  }

  &-sm {
    padding: $spacing-xs $spacing-md;
    font-size: $text-xs;
  }

  &-md {
    padding: $spacing-sm $spacing-lg;
    font-size: $text-sm;
  }

  &-lg {
    padding: $spacing-md $spacing-xl;
    font-size: $text-base;
  }

  &-full {
    width: 100%;
  }

  &-loading {
    cursor: wait;
  }

  &-spinner {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid rgba($white, 0.3);
    border-top-color: $white;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }

  &-text-hidden {
    visibility: hidden;
  }
}
